.no_outline:focus {
    outline: 0;
}

.submit_button_spinner {
    border: 0.25rem solid #F3F3F3;
    border-top: 0.25rem solid #BBBBBB;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
